[2017-01-27 13:17] mangiove opened #1 "Send mail error in a test environment dnn 9"
Hello, just trying out this awesome app, in dnn 8 it seems working well.
In a test environment using dnn 9 it gives error sending email.
Don't know if it is dnn 9 version the cause, but it seems it is looking for an api in the wrong place

The form example is here http://www.msgweb.it/chisiamo

jquery.js?cdv=103:8526 POST http://www.msgweb.it/API/2sxc/app-api/Form/ProcessForm? 404 (Not Found)

Tha

[2017-01-28 08:38] iJungleboy opened #2 "Rename "helpers" in the razor mail generator to "context" for clarity"

[2017-01-28 08:44] iJungleboy commented on #1
Fiddler says:
`{"Message":"Impossibile individuare un controller per http://www.msgweb.it/API/2sxc/app-api/Form/ProcessForm. Ricerca nei namespace: ToSic.SexyContent.Apps."}`

I don't have an explanation yet, but I'll look into it in a few days.

[2017-01-28 08:44] iJungleboy commented on #1
And thanks for the live demo, much faster to see what's going on :)

[2017-01-29 19:09] #2 closed

[2017-01-30 07:30] iJungleboy commented on #1
Found the reason, it's the changed url of API calls in dnn9 - will fix soon:

https://github.com/2sic/2sxc/issues/1099

[2017-01-30 08:50] mangiove commented on #1
Nice one! Thanks you :)

[2017-01-30 15:23] iJungleboy commented on #1
Note: fixed it - will be in 2sxc 8.9.1

[2017-01-30 15:23] #1 closed

[2017-02-03 17:51] kingjordan opened #3 "Can not send email with simple contact form"
Hello,

Let me say first I am super excited about this app.  Your contribution to the DNN ecosystem is amazing.

DNN version 8.0.4 (226)
2sxc version:  8.9.0
On local dnn install

I can import the app and configure the settings for the contact form adding my email etc.
The form data is captured and saved in the content "table"

PROBLEM: on submitting the form the error appears:

Cheers

THe follow

[2017-02-13 11:28] iJungleboy commented on #3
Can you clarify: did one of our forms fail, or one you changed?

Apparently there's an issue in the save-code, here https://github.com/2sic/app-mobius-forms/blob/master/api/FormController.cs#L92

seems like an information is missing. Could you find out if it's our form which is missing this, or your customization?

[2017-02-16 16:38] iJungleboy opened #4 "validation JS causes issues in DNN - like prevents module delete"
reason is that the form-object in the HTML somehow loses the "submit" method, causing postback-calls to fail.

[2017-02-17 17:14] kingjordan commented on #3
Sorry for the delay,

This was your simple contact form.  I did not change anything.  I add the module to the page, chose the simple contact form view, and then hit the edit/pencil to enter my email contact information.  After trying to send an email the error listed above is logged in the event viewer and no email is sent but the "submitted" data is captured in the app.

[2017-02-21 08:24] #4 closed

[2017-02-21 08:25] lucatescari commented on #3
Can you try this again with our latest release?
The bug is probably fixed now.

[2017-02-22 18:00] kingjordan commented on #3
I tried to upload the package in the portal I already had it installed.  I got an error saying it can not import because the mobius folder already exists.  I will try installing it in a new portal

[2017-02-23 10:37] mangiove commented on #3
Sorry If this is not the right place, but I got this problem too with several apps.. I would like to know if there is a smart way to update an app that already exist...

[2017-02-23 11:59] iJungleboy commented on #3
@mangiove The update question should be handled in a separate thread
@kingjordan if your initial app isn't in use yet, you can also de-install the app and re-install it

[2017-03-07 04:49] kingjordan commented on #3
I was able to delete the forms app and install the new version in my existing local dnn instance where the problem occurred. The problem still exists on the portal where I first tried it.

So I created a clean new dnn 8.0.4 local instance and installed the app.  2scx version 8.11 and Mobius 1.4.1 and the form works

[2017-03-07 06:50] iJungleboy commented on #3
Strange. Maybe some mail-settings in dnn? but I really don't know. I'll close this issue for now, as it seems installation specific. If you find out more which we should change, please do report. thx!

[2017-03-07 06:50] #3 closed

[2017-03-07 06:52] iJungleboy opened #5 "Wish: Example with attachment"
If we want to implement this, we would have to

1. Create a content-type with an adam field
2. Specify how the JS should send attachments, and how to tell the API for which "field" it's meant
2. Modify the API to also save attachments

[2017-04-04 15:00] kingjordan opened #6 "Feature Request? Single form submission per user"
Hello,

Just wondering if it is possible to have a form submitted only once pre logged in user.  I don't think this is built in and was wondering if this is even possible.

Thanks

[2017-04-05 06:18] iJungleboy commented on #6
It could be done, but it's not built in. I'm not sure why you would do this on a technical level. The "fear" that a user could submit multiple times isn't common for form scenarios. What scenario were you thinking of?

[2017-04-05 18:52] kingjordan commented on #6
This stems from a client who want to set up a "poll" of thier registered users where they would only be able to submit one questionaire.  If the results log the user id I can filter the results myself, I was just wondering if this was easy to accomplish.

[2017-04-05 22:08] iJungleboy commented on #6
Fairly easy, the question is if you would want to "block" the user or just filter it later on. I would recommend placing a user-information in a hidden field, and saving that as well, then filtering it.

Otherwise you could modify the api (best copy and modify the copy) to review existing items for this user, whichever you prefer. So it's a few hours of work though.

Note that I'll close the issue

[2017-04-05 22:08] #6 closed

[2017-04-06 15:18] kingjordan commented on #6
thanks, close the issue for sure, just was not sure of the best place to ask this question.  I appreciate the follow up

[2017-08-23 15:20] mangiove opened #7 "Can't validate checkbox in contact form"
I'm trying to make a generic contact form with an input type checkbox for the privacy policy acceptance.
It seems that for the input type checkbox the "required" attribute for validation does not work, cause even if checked it will still remain invalid...
Thanks you
Regards

[2017-08-24 06:17] iJungleboy commented on #7
thanks for the feedback. it's using a fairly simple js-library for this check - could you find the solution and post it here?

[2017-08-24 10:25] mangiove commented on #7
Ok, I found a solution, it is cause of smoke plugin.
Looking the examples on site http://alfredobarron.github.io/smoke/#/validate I noticed that they are using a name attribute for the input type checkbox :
<input type="checkbox" name="check" value="1" required>
Without using that the validation wont work...
I assume it is the same for radio too, name attribute is necessary:
<input type="radio" na

[2017-08-24 15:00] iJungleboy commented on #7
@lucatescari could you update the examples to use the name attribute, as this seems necessary in some cases?

[2017-08-24 15:00] iJungleboy commented on #7
@lucatescari and please add an example with a checkbox required

[2017-12-18 16:49] eXistenZe opened #8 "Send e-mail CC based on form field"
There could be a way to send CCs of the e-mail (either customer or owner) based on a form field.
There already is a field on the configuration entity that allows CCs to several emails, so it's just a small hijack.

[2017-12-18 16:53] eXistenZe commented on #8
1. Create an entity for the e-mail data (I use entities for everything that places values in the form - easier to maintain)

https://pasteboard.co/GYNWeU9.jpg

2. Create the form fields

[code]

and

[code]

3. Create the script to joint the contacts

[code]

4. Change the controller

Add
`var newMailCC = contactFormRequest["mailcc"].ToString();`

And change the
`Mail.SendMail(settings.MailFrom, s

[2018-03-12 13:20] roman-yagodin commented on #5
Any progress on that? It would be really nice to have Mobius Forms example with attachments, as the requirement is pretty common while custom implementation looks challenging.

Maybe you could share some real-world examples?

[2018-03-12 13:58] iJungleboy commented on #5
@roman-yagodin we would love to do that, but we're a bit short on resources ATM. Priorities are next release of 2sxc (much faster, most code converted to typescript, ....) etc.

[2018-04-04 09:16] FabioParigi opened #9 "Translate label"
Hi Dears
excuse me I'm new in 2sc, I try with interest the form app.
Can you explain me how to translate the labels? I have 2 language website dnn v9.1

I try to follow the https://github.com/2sic/app-mobius-forms/wiki/Translate
but where is the **App Resources**, switch to the language tab, and translate

thanks
Fabio

[2018-04-04 09:30] iJungleboy commented on #9
The resources are at app-level. Go to the app settings, to the tab "App" - there you can edit the resources and create more fields for whatever you need.

[2018-04-04 09:30] #9 closed

[2018-04-19 14:46] birksy89 opened #10 "DNN 9.2 Compatibility - v01.04.01"
Hello, does this module work in DNN 9.2

I've just installed the latest version of 2sxc content (9.23.0)
And Mobius Forms (v01.04.01)

I get the below error - It seems to be referencing a path that isn't on my system.

Please let me know if there's any way I can resolve this.

Thanks in advance

`System.Web.Compilation.BuildManager.GetCompiledType(VirtualPath virtualPath) at ToSic.SexyContent.Engi

[2018-04-19 14:52] birksy89 opened #11 "Uncaught TypeError: Cannot read property 'init' of undefined"
The other issue I added (issue #10 ) stems from this...
Hence I installed a fresh instance of DNN 9.2 to try see if I could solve it...

Anyway - This is present in an established DNN site which recently upgraded to Evoq 9.2

The forms all now fail to load correctly and appears to be a jQuery issue.

They are running 2sxc 8.12.0 and an early edition of Mobius Forms.

The error is:

This is the fai

[2018-04-19 14:56] iJungleboy commented on #11
thanks. We'll look into it, but ATM we're pretty swamped so we won't have a quick solution. Since I presume it's a jquery issue which you can probably fix as well, any help from you would also be appreciated :)

[2018-04-19 17:54] birksy89 commented on #11
Hi Daniel,

Sorry for wasting your time - In my effort to try and diagnose the problem, I started by turning off the "Client Resource Management" minification and bundling - Just so I could read the code a bit better.

Once I did this the problem went away.

Just to be sure, I re-enabled the setting, and incremented the version. The problem returned.

Do you think this is an issue with DNN 9.2? As

[2018-04-19 18:18] iJungleboy commented on #11
Hi @birksy89 thanks for the update.

It most likely something with the order of the files - how they are bundled. This could be because Moebius doesn't include an order - and the default behavior changed the sorting - or that the order isn't respected any more. Could you try to narrow that in? So basically:

1. Does moebius have a file order set for the dependencies or not?
   1. if yes, is it res

[2018-04-20 13:44] birksy89 commented on #11
Hi Daniel,

The client site isn't really fit diagnose the issues on - Hence why I spun up a fresh install to try and get to the bottom of it - But then came across issue #10 .

Happy to do whatever I can to help and contribute to 2sxc!

Are the links below and the "data-enableoptimizations" tag similar to how you'd include a resource in a DNN Skin?

[code]

Example of including skin tag with prior

[2018-04-20 13:50] iJungleboy commented on #11
Yes, it uses the same priority - except that you can also specify "bottom" or "100:bottom" which gives you more control - check out https://github.com/2sic/2sxc/wiki/Template-Assets

[2018-04-20 13:51] iJungleboy commented on #10
I don't have a quick answer - could you enable extensive logging and post that? https://2sxc.org/en/blog/post/releasing-2sxc-9-6-with-extensive-logging

[2018-04-23 12:15] birksy89 commented on #10
Hi Daniel,

When I've gone to restore this - The original error wasn't there.

However, I did struggle to get it working. One issue was that the SMTP settings that I'm using (Google) requires SSL.

I've altered this in the FormController.cs but this might be suited to being a setting via 2sxc.

![capture](https://user-images.githubusercontent.com/4971630/39125792-2793a9c2-46f8-11e8-9f10-03d1f05bad

[2018-04-23 12:15] #10 closed

[2018-04-23 12:26] iJungleboy commented on #10
ok, thanks, we'll look into it.

[2018-05-02 22:57] Accuraty opened #12 "Import App Fails in DNN 9.2 with 2sxc 9.23"
Tried importing 2sxcApp_Forms_01.04.01.zip in to a clean, new DNN 9.02.00 install with 2sxc 9.23. The import failed, see attached. If this app is not currently compatible with the new versions of DNN/2sxc, should I expect that it would be fixed some time soon?

![image](https://user-images.githubusercontent.com/653301/39552950-1a7c254e-4e31-11e8-99af-ae85b572ba65.png)

Looking through DNN's Event

[2018-05-03 12:13] iJungleboy commented on #12
this is most likely an issue with the latest 2sxc - and should be fixed in 9.30 (to be released tomorrow)

[2018-05-03 12:13] #12 closed

[2018-05-03 14:27] iJungleboy commented on #5
fyi: we've implemented it :)

It will be in the next release, but require 2sxc 9.30.

[2018-05-03 14:27] #5 closed

[2018-05-05 15:42] jeremy-farrance opened #13 "Can't install and use on 2sxc 9.23 or 9.30 on DNN 9.02.00"
Tried on a client site as well as a clean install. Install works partially, but fails. Then for the App card you just see "Error". If you go in to App management you can see the logo and app meta data, but there are no data or views or anything. Then, once you delete it and clean up, it takes quite a bit of work deleting folders and files to get 2sxc usable again without errors.

[2018-05-05 21:02] Accuraty commented on #12
I noticed 9.30 has some kind of native/core Forms available now. Does that replace this Forms app or will there still be a new version of 2sxcApp_Forms_01.0x.xx.zip that will work with DNN 9.2 and 2sxc 9.23 and higher? I did install 9.30 and the import still fails hard and made 2sxc unusable without manually deleting files and folders and settings.

[2018-05-07 07:43] iJungleboy commented on #13
I believe this was a bug in 9.23 and affects only apps which were installed in 9.23. Could you verify this?

[2018-05-07 14:04] Accuraty commented on #13
My site (DNN 9.02) is already upgraded to 2sxc 9.30 and installing the app fails. What are you asking me to verify?

[2018-05-07 16:38] iJungleboy commented on #12
No, there are many scenarios requiring completely custom forms. We'll release Mobius 2 - probably tomorrow - with new file-upload features :)

[2018-05-07 16:48] iJungleboy commented on #13
ok, so it's not a 9.23 issue.

I tried installing on dnn 742 and 2sxc 9.30 and it worked without issues.

same for dnn 9.2 and 2sxc 9.30

is there any more details you could provide? maybe try installing again and see what the DNN event log says?

[2018-05-09 16:11] Accuraty commented on #13
Ok, still on DNN 9.02.00 and 2sxc 9.30. Installed the new Mobius Forms 2. Added the APP module to the Contact page, selected the Mobius Forms 2 app. After a few seconds, the form displayed and everything looked good. I poked around in the app settings (btw, still said 1.03.00 in there), pulled up the docs to see how/where to change the destinations for the emails, cancelled the open dialogs withou

[2018-05-16 21:49] eXistenZe commented on #11
Mobius app is still broken for me in 9.30 and dnn9.2.
Had to restore to old version.

[2018-05-17 05:54] iJungleboy commented on #13
I'm guessing this is related to https://github.com/2sic/2sxc/issues/1564 and https://github.com/2sic/2sxc/issues/1561

We're looking into it with high priority.

[2018-05-17 05:55] iJungleboy commented on #11
@eXistenZe I assume your issue is #13 and not this issue here. See latest notes there.

[2018-05-17 06:01] eXistenZe commented on #11
Nope. It's the init error. Exactly as described in the first post.

[2018-05-17 06:03] eXistenZe commented on #11
Dnn 9.1 with 2sxc 9.14 works fine. Upgrade to dnn 9.2 and 2sxc 9.30, this issue occurs.

[2018-05-17 09:33] iJungleboy commented on #11
ok, we'll look at this today or tomorrow. My guess is DNN 9.2 changes the order of JS files loaded, which causes this effect.

[2018-05-18 09:05] raphael-m commented on #11
With DNN 9.2, ClientDependency version was updated which treats spaces in asset URLs wrong (in some circumstances). The `@App.Path` in the Mobius Forms App contains spaces, which causes that the app JS and CSS files are missing in the bundle.

We will implement a work-around in 2sxc. In the meantime, please try to prepend all script and style urls with a tilde ~:
[code]

[2018-05-18 09:46] raphael-m commented on #11
Fix will be included in the next release: https://github.com/2sic/2sxc/issues/1566

[2018-05-18 11:51] iJungleboy commented on #13
fyi: i'm starting to find the issue, thanks to a new feature I'm building which gives insight to the internal caches. I believe it's related to the global types - i'll keep you posted...

[2018-05-21 04:04] andyduo opened #14 "Error after installing the App and adding to page"
Just installed Mobius Form 2 App on 2sxc 9.3 and DNN 8.0.3 but when I add the form to the page I get the following error:
`
Error: System.IO.FileLoadException: Could not load file or assembly 'System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception

[2018-05-22 05:39] iJungleboy commented on #14
did you add it to 2sxc 9.3 or 9.30? it needs 9.30 because Mobius 2 uses Koi for CSS framework detection.

[2018-05-31 18:10] birksy89 commented on #11
@raphael-m this may not be of issue any more, but I thought I would document here.

I've just had chance to go back on the client site and look at this... Your solution above with the tilde (~) worked - But I had to exclude if from the smoke.min.js option:

[code]

Not sure if it only needs to be applied with tags using the "data-enableoptimizations" or what... But just wanted to point out my find

[2018-05-31 18:12] eXistenZe commented on #11
9.32 fixed the issues for me.
No need to correct code.

[2018-06-03 20:44] iJungleboy commented on #11
Thx

[2018-06-03 20:44] #11 closed

[2018-07-17 08:45] lucatescari commented on #7
In the [new release](https://github.com/2sic/app-mobius-forms/releases/tag/v02.00.01), I added a required checkbox (with a comment, that you have to use the name attribute) to the smart form template.

[2018-07-17 08:45] #7 closed

[2018-08-15 23:33] andyduo commented on #14
@iJungleboy Sorry just getting back to this now. I'm using DNN 9.2 and 2sxc 9.32.00 LTS on a site but still get the above error after adding Forms app to the page.

[2018-08-21 12:42] iJungleboy commented on #14
Two things: the first version-issue is probably related to https://github.com/2sic/2sxc/issues/1595 - check that out.
The second thing looks like your koi.json is faulty (not valid json?)

[2018-08-28 05:17] #14 closed

[2018-09-04 20:48] grayspace opened #15 "Form shows all validation messages by default / Form not working"
Just installed the Mobius Forms app, and dragged a form onto the page. By default, and without inputting anything into the form, the validation alert boxes are shown (1st screenshot below). Browser refresh doesn't help, but I noticed they go away after clicking the manage content icon. They return after another browser refresh.

Not sure if related, or something else, but the form does not work fo

[2018-09-05 06:07] iJungleboy commented on #15
So first of all I think it's something with CSS - my guess is that your DNN has cached the css and doesn't load the moebius CSS for some reason. That's why you're "already" seeing the errors. Could you check that? I seriously assume the errors have not been triggered at all - but are showing for some CSS reasons. Maybe you also have a special class overriding a setting.

So please debug that. Vali

[2018-09-14 15:47] grayspace commented on #15
Debugged and saw that there were 404s on some 2sxc javascript files. I reinstalled 2sxc and Mobius forms and it now works as expected. One thing I noticed while reinstalling Mobius, it said it could not install because a folder named "Mobius Forms" already exists. So I just added a new folder called "MobiusForms" (no space), and after it installed I had no issues with the form again. Not sure if t

[2018-09-14 16:19] iJungleboy commented on #15
thx!

[2018-09-14 16:19] #15 closed

[2018-09-18 16:17] iJungleboy opened #16 "Ensure that all data is always stored into a system protocol"
Goal: no matter how badly a form is configured, all data should be saved into a generic entity-type as a safety net.

[2018-09-18 18:38] #16 closed

[2018-09-21 14:50] grayspace opened #17 "Form Submission Not Working - Missing Assembly Reference Error"
I have filled out all options for the form config, and have set the SMTP server address with a working address, but the Mobius Simple Contact form is throwing the error below.

DNN: 9.02.01
2sxc: 9.32.1
Mobius: 2.00.01

![image](https://user-images.githubusercontent.com/5733194/45888442-a6b44e80-bd83-11e8-959d-a4b545679f08.png)

[2019-02-07 05:10] andyduo opened #18 "Using a form field value for the to address"
I have a form based on simple contact form. I have added a dropdown field called SendTo. Is it possible to use that value to set the Owner Email address so the form can be submitted to different departments?

[2019-02-11 11:39] iJungleboy commented on #18
This is simple. Best place to do this is to copy the WebAPI endpoint and make the changes in the C# code. We always recommend copying, to ensure that you still have the original endpoint for other forms.

[2019-02-11 11:39] #18 closed

[2019-04-07 15:05] eXistenZe opened #19 "[Documentation request]Isolated file upload to adam features"
I've read quite a few posts about file upload, and tested the moebious forms app, but I can't quite figure how file upload works.

1. What is the relation between the adam folder name and the entity guid/id?

2. Could you help create a simple app demo that demonstrates the single file upload feature? For us newbs it's way easier to integrate features without complex environments working around it.

[2019-04-08 06:41] iJungleboy commented on #19
I like the idea, i'll see where this could be integrated. It will take ca. 2-3 weeks though, because I'm currently swamped with other priorities.

[2019-04-08 07:02] eXistenZe commented on #19
Thanks.

[2019-09-17 16:07] BeniFreitag opened #20 "SendMail doesn't work with SSL and doesn't handle errors"
https://github.com/2sic/app-mobius-forms/blob/0520f71e7f0271d9f0c25c4ec92def479e52e935/live/api/Parts/SendMail.cs#L12-L36
1. `SendMail.Send()` always returns `true` and doesn't handle STMP-Errors. Instead the result should check wheter `DotNetNuke.Services.Mail.Mail.SendMail()` returned an empty string (success) but otherwise return `false` (handle the error).
2. It has `smtpEnableSSL`-parameter h

[2019-09-17 17:59] iJungleboy commented on #20
great input - could you contribute? 😊

[2019-11-16 23:54] juantarte opened #21 "Can't use 2SXC"
After several tries finally error list goes really short, this is the last error i got and can not find information about it.   I don't have the files on C:\Projects\2sxc-dnn742\Website\DesktopModules we have it on C:\webapps\DNN7\DesktopModules

Error: Content is currently unavailable. DotNetNuke.Services.Exceptions.ModuleLoadException: Error - can't find 2sxc instance configuration. Probably try

[2019-11-22 12:22] iJungleboy commented on #21
@juantarte I don't understand what you're describing. Could you please give more context, like "I installed it the first time" or "it suddenly stopped working after an update" or anything like that? and just some more infos otherwise we can't really help you.

[2019-11-22 12:22] iJungleboy commented on #21
I'm not even sure if this is a Mobius or a 2sxc issue - can you verify?

[2019-11-23 16:41] juantarte commented on #21
Sorry was my mistake to did it on Mobius, was 2sxc issue.

I finally install 2sxc.

[2019-11-25 08:43] iJungleboy commented on #21
So please post on 2sxc, not on mobius - different people who would respond.
Note that this looks more like a support thing - in which case StackOverflow would be the right place to put it.

[2019-11-25 08:43] #21 closed

[2019-12-21 22:47] Accuraty opened #22 "Installing (Import) the App Fails, 2sxcApp_Forms_03.10.01.zip"
After upgrading a site to DNN v9.04.04 and 2sxc to v10.24, I tried to Import 2sxcApp_Forms_03.10.01.zip the normal way and got the following error:

![image](https://user-images.githubusercontent.com/653301/71314635-7f7a8000-2411-11ea-9cd0-eabd026c70ca.png)

[2019-12-23 10:18] iJungleboy commented on #22
I was able to install it without an issues. maybe restart DNN?
Will close this issue for now, if it doesn't resolve itself and/or you find out more, I'll reopen.

[2019-12-23 10:18] #22 closed

[2019-12-23 13:34] Accuraty commented on #22
Tried again, got another error ('while updating entries'). So I manually cleaned out the installed stuff, then deleted the stray App (name was a GUID). Poked around, restarted apppool, tried again and it worked. Worked!! Cheers! And thank you.

[2020-02-10 21:36] dzsquared commented on #21
@juantarte I understand this was a 2sxc issue for you - I am also stuck trying to install 2sxc on DNN 8 and receiving that error when adding content or app modules to a page.  how did you complete the install?

[2020-02-11 01:30] juantarte commented on #21
Hi, really i don't remember what i do to install it, i\I do several's things trying an failing.   Just follow all steps they have on web, click all links and read all possibles solutions.

[2020-02-11 08:38] iJungleboy commented on #21
I'm a bit confused as to what issue we're discussing here. Please post new issues in the right boards.

[2020-05-21 21:54] eXistenZe opened #28 "Recaptcha warning code typo"
_Recaptcha.cshtml line 11

@if(App.Settings.RecaptchaShowWaring == null || App.Settings.RecaptchaShowWaring) {

Typo in "warning" makes the warning always show.

[2020-05-22 10:53] eXistenZe opened #29 "Outdated documentation"
Documentation for v4 is severely outdated.
The wiki and recipies both mention tables that no longer exist.
Customizing a form is now a nightmare when compared to v3...

[2020-05-25 09:17] iJungleboy commented on #29
@eXistenZe could you be more specific so we can follow up on this?
@ropalko could you have a look at this?

[2020-05-25 09:24] iJungleboy commented on #28
@ropalko  pls fx ;)

[2020-05-25 10:11] eXistenZe commented on #29
Literally everywhere.
Wiki was updated in 2017, so any changes since then are not covered.
The azing recipe also seems made for previous versions. Table names do not match (Config Submit Type is now Systems Workflow Configuration for example).
Any change introduced in v4 is not documented.

[2020-06-01 06:18] micahsdad1402 opened #30 "Send doesn't hide recaptcha"
Send should be hiding recaptcha on submission.

If the page is left open, then the recaptcha expires.

See attached screen shot.
![2020-06-01_18-16-33](https://user-images.githubusercontent.com/15971421/83381257-4ddff900-a434-11ea-9121-dc11860c5e29.png)

[2020-06-02 09:53] iJungleboy commented on #30
Just so you know, it's not a priority for the core team, but we would appreciate a contribution from the community for this.

Just a note, the behavior would need to be more complex:

1. Hide on submit
1. Re-show if failed submit
1. Keep hidden if submit successful
1. If multiple forms are shown on the page, this show/hide should only affect the current form

[2020-07-13 22:49] efficiondave commented on #28
I ran into this today. I added the missing "n" in Warning and that resolved it. Just a reminder it needs to be fixed.

[2020-07-27 08:06] iJungleboy commented on #28
@ropalko status?

[2020-08-08 17:41] jeremy-farrance commented on #29
Similar enough topic, just installed Mobius 4.1.0 and (see screen clip) ...
1. goes to docs last edited Jan 2017
2. actually goes to the v1.03 old entry, not v4x
3. cat/link "2sxc-8" no longer makes sense?
4. cat/link "old" why is brand new, v4x in old?

![image](https://user-images.githubusercontent.com/653301/89716529-52b0b400-d973-11ea-8410-95c9d00c26e4.png)

[2020-08-08 21:29] jeremy-farrance opened #33 "Cannot Create a New Form in Mobuis 4.1.0"
This is a fresh new install of DNN v9.06.01, 2sxc v11.04, and Mobius 4.1 (I also let 2sxc install the latest Contact App, I assume that is 11.03, but I can't seem to find where it's version number might be hidden).

I tried following the Azing recipe, but I guess that is out of date. My goal was simple, I wanted to NOT modify the existing Views and create a new form that had SenderPhone and not Su

[2020-08-10 06:01] iJungleboy commented on #33
First of all, the view-showing-guid is an issue in 2sxc 11.04 https://github.com/2sic/2sxc/issues/2145 - it's already fixed and will be in 11.05.

[2020-08-10 06:02] iJungleboy commented on #33
@ropalko can you pls check what's wrong and if necessary also update docs?

[2020-08-10 06:02] iJungleboy commented on #29
thx - yes, this is OLD, I'll try to fix asap.

[2020-08-12 02:17] jeremy-farrance commented on #33
Anything?

[2020-08-12 07:56] iJungleboy commented on #33
@jeremy-farrance we'll look into this asap. @ropalko was on vacation till yesterday, so he's just getting up to speed again :)

[2020-08-19 15:27] jeremy-farrance commented on #33
Bump.

[2020-08-26 15:00] jeremy-farrance commented on #33
Bump?

[2020-08-27 14:47] ropalko commented on #33
Hello @jeremy-farrance, sorry for the late reply.
I updated the Checklist on Azing: [Customize Mobius Forms](https://azing.org/2sxc/r/l38Ibz7L)

I tried to reproduce your problem, but I don't get the error message you mentioned.

So your _Contact-form-basic.cshtml shoul look like this:
[code]
And your view settings like this:
![image](https://user-images.githubusercontent.com/921493/91457685-eb589

[2020-08-27 14:49] ropalko commented on #28
@eXistenZe @efficiondave Thanks for the hint
I have fixed it and will create a release asap.

[2020-08-28 16:46] jeremy-farrance commented on #33
I checked everything above very carefully, it all matches - except for the last screenshot. Are you saying there should be a Content-Type with the name "System Workflow Configuration" ?? If yes, then that is what is missing in my install/instance. In the install package, where can I find what I would need to import to get that created? Or is it safe to just re-import the whole thing?

[2020-09-01 12:16] ropalko commented on #33
Hello @jeremy-farrance, thats really strange.
These are the content types you should have:
![image](https://user-images.githubusercontent.com/921493/91850015-2e3bb500-ec5d-11ea-8b30-6618c2ed2465.png)

Maybe something went wrong during the installation. I would download the latest release and try to install it under a new name.

[2020-09-01 13:44] jeremy-farrance commented on #33
Are there instructions on how to install and app under a new name? Don't think I've ever done or noticed that. I there a proper way to completely delete an app, Content Types and all so it can be cleanly re-installed?

[2020-09-01 14:29] ropalko commented on #33
When you try to install 2sxc asks you that there is a other version and which name the new should have.
You can delete the app when you open the app managment:
![image](https://user-images.githubusercontent.com/921493/91864131-2b968b00-ec70-11ea-9e3a-3b478f7d6ab9.png)
![image](https://user-images.githubusercontent.com/921493/91864206-3c470100-ec70-11ea-9c20-04f07d7e6d47.png)

[2020-09-01 14:56] jeremy-farrance commented on #33
Ok, so at this point I am confused. This was a clean DNN install with 2sxc 11.03, then 11.04. On July 27 I let 2sxc install Mobius and News for me... it said it would install the latest versions. I had read the blogs and even double checked to see what versions were available and both News and Mobius were new v4.x from early May releases. So I let 2sxc install the apps for me. Embarrassingly I now

[2020-09-02 05:52] iJungleboy commented on #33
@jeremy-farrance When we release new apps they don't automatically land in the auto-installer. We do this manually. On large reworks (like on Mobius) we delay it by quite a while to be sure that it works in the wild, as the auto-installer is used by newbies, and we want to be sure they don't run into problems.

[2020-09-02 05:52] #33 closed

[2020-09-02 06:58] #28 closed

[2020-09-02 14:31] jeremy-farrance commented on #33
I appreciate that more recent versions seem to be making it easier to discover the actual version number that is installed. Hopefully that gets even better?

[2022-01-23 07:30] skarpik opened #48 "Bug in Razor code in the Generic Smart Form Example (fix included)"
**Mobius V5.03.01 Hybrid
DNN v.9.10.02
2SXC v12.10.0**

Running the Generic Smart Form example without modification results in the following error:

Message:Customer Send mail failed: d:\Websites\dnn-9-10-2\Website\Portals\0\2sxc\MobiusForms5\live\email-templates\EmailToCustomerWithData.cs(24): error CS1061: 'System.Collections.Generic.Dictionary<string,object>' does not contain a definition for '

[2022-01-24 07:25] skarpik opened #49 "Contact Form with Files error"
**Mobius V5.03.01 Hybrid
DNN v.9.10.02
2SXC v12.10.0**

After setting the following features:

- Custom WebAPIs save in ADAM
- Public forms
- Public Forms File Upload

running the "Generic Smart Form with Files" example results in the following error:

**Screenshot:**

![Screenshot 2022-01-24 020900](https://user-images.githubusercontent.com/3846223/150738773-c26f6497-2c03-446d-bb8c-31c145069313.j

[2022-01-24 07:27] skarpik commented on #49
The same error occurs whether logged in as an admin or as an anonymous user.

[2022-01-24 08:24] iJungleboy commented on #49
@maaaximum pls check, fix, republish. thx

[2022-01-24 08:27] iJungleboy commented on #48
@maaaximum

[2022-01-24 11:08] #48 closed

[2022-01-24 11:11] maaaximum commented on #49
@skarpik thanks for reporting this issue.

Fixed in [v05.03.02](https://github.com/2sic/app-mobius-forms/releases/tag/v05.03.02).

[2022-01-24 11:11] #49 closed

[2022-01-24 15:48] skarpik commented on #48
Thank you very much for fixing this.

[2022-01-24 15:49] skarpik commented on #48
Thank you very much for fixing this.

[2022-01-24 15:53] skarpik commented on #49
Thank you very much for fixing this.

[2022-01-25 20:17] skarpik opened #50 "Mobius5 - Error in "Contact Form""
A new DNN/2SXC installation with the following parameters:

Mobius V5.03.02
DNN v.9.10.02
2SXC v13.01.00
Theme: 2Shine BS5 v5..0.1

The error appears to be in MailChimp code but MailChimp was not selected.

01/25/2022 14:21:31
General Exception

2SXC13
AbsoluteURL /api/2sxc/app/auto/live/api/Form/ProcessForm DefaultDataProvid
AbsoluteURL:/api/2sxc/app/auto/live/api/Form/ProcessForm

DefaultDataPro

[2022-01-25 21:28] iJungleboy commented on #50
@maaaximum could you verify/fix?

[2022-01-26 06:06] skarpik commented on #50
I don't know whether this information will be helpful but I get the same sort of error message for:

- Contact Form with Address
- Generic Smart Contact Form

I have not yet tested the "Contact Form with File Upload" or the "Support Request" or the Mailchimp demo. I can if that would be helpful.

[2022-01-27 16:51] skarpik commented on #50
Hooray! It worked. Is this something that the DNN installation should have included in the web.config?

I will test the other demo forms to make sure that everything is working properly (I expect that will be the case).

Thank you.

[2022-01-27 21:13] #50 closed

[2022-03-11 13:39] BeniFreitag opened #51 "Feature Request: Prefill fields from Query-String"
Sometimes it's useful to prefill some fields from the URL. E.g. on a job application form, it would be useful to support links like /apply-form?JobName=Programmer and the prefill the Field JobName with the value from the URL.

The solution should take care of HtmlEncoding the value to prevent script injection (XSS)

[2022-06-08 13:07] eXistenZe opened #52 "Error mailchimp related even when disabled"
Using the mobius 5 with default settings (just changed the email), simple form:
Request:
{"Files":[],"Subject":"dfg","Message":"ddfg","SenderName":"dfg","SenderMail":"a@gmail.com","Terms-390":"True","MailChimp":false}

Response:
\Portals\\0\\2sxc\\MobiusForms5\\staging\\api\\Parts\\MailChimp.cs(89): error CS1070: The type name 'HttpClient' could not be found. This type has been forwarded to assemb

[2022-06-08 13:53] iJungleboy commented on #52
@maaaximum-at-2sic could you check?
I thought we had added a web.config to the folder to correct this.

[2022-06-08 13:55] iJungleboy commented on #30
Since Mobius 5 uses the new, hidden recaptcha, this issue isn't relevant any more.

[2022-06-08 13:55] #30 closed

[2022-06-08 13:55] iJungleboy commented on #13
I believe this is so old it's not relevant any more.

[2022-06-08 13:55] #13 closed

[2022-06-08 13:56] iJungleboy commented on #8
I believe this is so old it's not relevant any more.

[2022-06-08 13:56] #8 closed

[2022-06-08 14:24] maaaximum-at-2sic commented on #52
@eXistenZe please add [this web.config file](https://github.com/2sic/app-mobius-forms/blob/master/web.config) into the root folder of your Mobius-Forms-App. This file will be included in the next release.

[2022-06-08 16:18] enfJoao opened #53 "Email is sent but message stays at "Sending your message, please wait...""
After fixing the last error, the e-mail is sent but the message stays at yellow "Sending your message, please wait..."

Error on log: "Uncaught (in promise) SyntaxError: JSON.parse: unexpected end of data at line 1 column 1 of the JSON data"

[2022-06-08 16:26] enfJoao opened #54 "Error with recaptcha"
After enabling recaptcha and setting the keys for v2 invisible, I get an error.

Sent:
`{"Files":[],"Subject":"asd","Message":"asd","SenderName":"asd","SenderMail":"a@gmail.com","Terms-390":"True","GDPR-390":"True","MailChimp":false}`

Perhaps it's missing the contactFormRequest["Recaptcha"]?

[code]

[2022-06-09 06:44] iJungleboy commented on #54
@eXistenZe are you using one of the standard forms, or did you create your own?

@maaaximum-at-2sic could you check?

[2022-06-09 06:53] eXistenZe commented on #54
The default one (simple). Only changed the e-mails in config, activated recaptcha and set the keys.

[2022-06-09 13:15] maaaximum-at-2sic commented on #54
@eXistenZe this issue has been fixed with the [Mobius Forms v05.04.00](https://github.com/2sic/app-mobius-forms/releases/tag/v05.04.00) release.

[2022-06-09 13:15] #54 closed, assigned to maaaximum-at-2sic

[2022-06-09 13:15] #53 closed, assigned to nobody

[2022-06-09 13:16] maaaximum-at-2sic commented on #52
This issue has been fixed with the [Mobius Forms v05.04.00](https://github.com/2sic/app-mobius-forms/releases/tag/v05.04.00) release.

[2022-06-09 20:10] eXistenZe opened #55 "Fields missing even if everything is filled"
Even when all fields are filled, mobius says something is missing.

I hope all this testing and bug reporting earns me some patronage points :)

![image](https://user-images.githubusercontent.com/26518879/172935341-f296ac36-06ed-4bb4-b1f1-89e24acd3a48.png)

[2022-06-10 09:34] iJungleboy commented on #55
@maaaximum-at-2sic can you reproduce this?

[2022-06-10 09:34] iJungleboy commented on #55
@eXistenZe is this a standard form, or one you made?

[2022-06-10 09:59] maaaximum-at-2sic commented on #55
Couldn't reproduce.
--
Tested using:
| Name | Version |
| - | - |
| DNN | 9.10.2|
| 2sxc | 14.01|
| Mobius Forms | 5.04 |

Can you tell me more about your setup @eXistenZe ?

[2022-06-10 10:15] eXistenZe commented on #55
Same settings.
Activated recaptcha and set the keys.
The challenge does show. Then I get the missing field red info.

One warning on browser log:
DevTools failed to load source map: Could not load content for https://woundcare.app/desktopmodules/tosic_sexycontent/dist/turnOn/turn-on.js.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE

[2022-06-10 10:40] maaaximum-at-2sic commented on #55
@eXistenZe what version of reCAPTCHA do you use? Our implementation uses reCAPTCHA v3.

[2022-06-10 10:43] eXistenZe commented on #55
The guide says v2

On Fri, Jun 10, 2022, 11:40 Maxim Hüsler ***@***.***> wrote:

[2022-06-10 11:27] maaaximum-at-2sic commented on #55
I have updated the guide with the correct reCAPTCHA version (v3). Thank you @eXistenZe :smile:.
Can you check if the bug is still present using reCAPTCHA v3?

[2022-06-10 20:37] eXistenZe commented on #55
Now it goes to the api but there is still an error:
"Message":"Bad Request",
   "ExceptionMessage":"The remote server returned an error: (400) Bad Request.",
   "ExceptionType":"System.Net.WebException",
   "StackTrace":"   at System.Net.WebClient.DownloadDataInternal(Uri address, WebRequest& request)\r\n   at System.Net.WebClient.DownloadString(Uri address)\r\n   at Recaptcha.Validate(String enco

[2022-06-14 12:12] maaaximum-at-2sic commented on #55
This error couldn't be reproduced and may be caused due to file modification or outside influence, such as a firewall.
Please try installing Mobius-Forms on a new DNN installation with the newest 2sxc and new reCAPTCHA setup.

This project is open source, so feel free to create a pull request with your solution anytime. 😏

[2022-06-14 12:13] #55 closed

[2022-06-15 21:57] eXistenZe commented on #55
I apologize for the delay.
I reinstalled everything and started all over, one step at a time.
I got the errors all over the place again, even the missing recaptcha key fixed in the last update.
One thing I've learned: this app is heavily dependent on clearing dnn cache after changing settings, specially recaptcha related.
It seems to be working fine now. Thanks.

[2022-06-16 05:34] iJungleboy commented on #55
@eXistenZe thanks for the update that it works now, and also the hint or dnn-cache. We were not aware of that.